<section id="page">
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills text-center">
                <li role="presentation"><a routerLink="/admin/members">All Members</a></li>
                <li role="presentation"><a routerLink="/admin/new">New Enrollments</a></li>
                <li role="presentation"><a routerLink="/admin/checkins">Checkins</a></li>
                <li role="presentation"><a routerLink="/admin/requests">Requests</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>All Activities</h2>
            </div>
        </div>
         <div class="row">
            <div *ngFor="let user of users">
                <div *ngFor="let data of generateArray(user.User)">
                    <p>{{data.fname}} {{data.lname}}</p>
                </div>
                <div *ngFor="let data of generateArray(user.Activities)">
                    <li>{{data.date | date : 'MM/dd/yyyy'}}</li>
                    <li>{{data.activity}}</li>
                </div>
          <hr/>
          </div>
          

        </div>
    </div>
</section>