<section id="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Account</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">My Profile</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <p><span class="fa fa-user pad-right"></span>{{ name }}</p>
                                <p><span class="fa fa-envelope pad-right"></span>{{ email }}</p>
                                <p><span class="fa fa-building pad-right"></span>{{ company }}</p>
                            </div>
                            <ul class="col-lg-3" *ngFor="let item of expertise">
                                <li>{{item}}</li>
                            </ul>
                        </div>
                        <div class="row col-lg-offset-1">
                            <blockquote>
                                <p>{{ bio }}</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div *ngIf="(activities | async)?.length > 0" class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">My Activities</div>
                    <div class="panel-body">
                        <ul *ngFor="let activity of activities | async">
                            <li>{{activity.date | date : 'MM/dd/yyyy'}} - <a href="{{activity.activity}}">{{ activity.activity }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div *ngIf="(requests | async)?.length > 0" class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">My Requests</div>
                    <div class="panel-body">
                        <ul *ngFor="let request of requests | async">
                            <li>{{request.date | date : 'MM/dd/yyyy'}} - {{ request.request }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>