<section id="page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>My Account</h2>
                </div>
            </div>

            <div class="container">
                <div class="row"> 
                    <h4>My Profile</h4>   
                    <p>
                        Name: {{ name }} <br>
                        Email: {{ email }} <br>
                        Company: {{ company }} <br>
                        Bio: {{ bio }} <br>
                        Expertise: {{ expertise }}
                    </p>
                    <h4>My Activities</h4>
                    <ul *ngFor="let activity of activities | async">
                        <li>{{activity.date | date : 'MM/dd/yyyy'}} - <a href="{{activity.activity}}">{{ activity.activity }}</a></li>
                    </ul>
                    <h4>My Requests</h4>
                    <ul *ngFor="let request of requests | async">
                        <li>{{request.date | date : 'MM/dd/yyyy'}} - {{ request.request }}</li>
                    </ul>
                </div>
            </div>

            <!--<div class="form row">
                <div class="col-lg-8 col-lg-offset-2">
                <h3>Change My Password</h3>
                    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="old">Old Password</label>
                                <input class="form-control" type="password" (ngModel)="passwordold" placeholder="My old password" id="passwordold" required data-validation-required-message="Please enter your old password.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="new">New Password</label>
                                <input class="form-control" type="password" (ngModel)="passwordnew" placeholder="My new password" id="passwordnew" required data-validation-required-message="Please enter your new password.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <button type="submit" [disabled]="!formData.valid" class="btn btn-success btn-primary btn-lg float-right">Submit</button>
                            </div>                           
                        </div>
                </form>
            </div>
        </div>-->
    </div>
</section>
