<section id="page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Request</h2>
                </div>
            </div>

            <div class="form row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div *ngIf="success" class="alert alert-success text-center">{{success}}</div>
                    <div *ngIf="error" class="alert alert-danger text-center">{{error}}</div>
                    
                    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="request">Request</label>
                                <input class="form-control" (ngModel)="request" placeholder="I need..." id="request" name="request" required data-validation-required-message="What do you need?">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="row control-group">
                        <h3>Request Type</h3>
                        <div class="radio">
                            <label class="h4">
                                <input (change)="handleChange($event.target.checked,$event.target.getAttribute('value'))" id="requesttype" name="requesttype" type="radio" value="Software"  [(ngModel)]="requesttype" >Software
                            </label>
                        </div>
                        <div class="radio">
                            <label class="h4">
                                <input (change)="handleChange($event.target.checked,$event.target.getAttribute('value'))" id="requesttype" name="requesttype" type="radio" value="Travel Grant" [(ngModel)]="requesttype" >Travel Grant
                            </label>
                        </div>
                        </div>

                        
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <button type="submit" [disabled]="!formData.valid" class="btn btn-success btn-primary btn-lg float-right">Submit</button>
                            </div>                           
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>
