<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Experts</h2>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let user of users">
                <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
                    <div class="card">
                        <div *ngFor="let data of generateArray(user.User)">
                            <h3>{{data.fname}} {{data.lname}}</h3>
                            <span class="circle">
                                <div class="expert-image" [ngStyle]="{ 'background-image': 'url(' + data.image + ')'}"></div>
                            </span>
                            <p class="panel-text">{{data.title}}<br/>{{data.company}}</p>
                            <ul class="list-inline">
                                <li *ngIf="data.website.length>0">
                                    <a class="btn-social btn-outline" href="{{data.website}}"><i class="fa fa-fw fa-desktop"></i></a>
                                </li>
                                <li *ngIf="data.twitter.length>0">
                                    <a class="btn-social btn-outline" href="http://www.twitter.com/{{data.twitter}}"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li *ngIf="data.github.length>0">
                                    <a class="btn-social btn-outline" href="http://www.github.com/{{data.github}}"><i class="fa fa-fw fa-github"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>