<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Experts</h2>
            </div>
        </div>
        <div class="row">                      
                <div *ngFor="let user of users">
                    <div class="col-xs-6 col-md-4 portfolio-item">
                            <div class="caption">
                                <div *ngFor="let data of generateArray(user.User)">
                                    <img src="{{data.image}}" class="portfolio-image img-responsive" alt="{{data.fname}} {{data.lname}}" width="200" height="200">
                                    <p class="title">{{data.fname}} {{data.lname}}</p>
                                    <p>{{data.bio}}</p>
                                    <p>{{data.expertise}}</p>
                                </div>
                            </div>
                    </div>
                            
                </div> 
        </div>
    </div>
</section>