<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Experts</h2>
            </div>
        </div>
        <div class="row">
           
                <!--<div *ngFor="let item of items | async" [hidden]="filter(item.Active)">
                    <div class="col-md-4 m-b-lg">
                        <div class="panel panel-default panel-profile m-b-0">
                            <div class="panel-heading">{{item.Name}}</div>
                            <div class="panel-body text-center">
                            <img [src]=item.Image>
                            <p>{{item.Bio}}</p>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/img/portfolio/placeholder.png" class="img-responsive" alt="Placeholder">
                    </a>
                </div> 

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/img/portfolio/placeholder.png" class="img-responsive" alt="Placeholder">
                    </a>
                </div> 

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/img/portfolio/placeholder.png" class="img-responsive" alt="Placeholder">
                    </a>
                </div> 

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/img/portfolio/placeholder.png" class="img-responsive" alt="Placeholder">
                    </a>
                </div> 

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/img/portfolio/placeholder.png" class="img-responsive" alt="Placeholder">
                    </a>
                </div> 

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/img/portfolio/placeholder.png" class="img-responsive" alt="Placeholder">
                    </a>
                </div>          
        </div>
    </div>
</section>